<!--
  @created by wangshuang3 on 2019-4-4 16:42:48
  @updated by
  @description 标签
-->
<div class="blank_template">
  <!-- 若无个性化样式，请删除本行及下行 -->
  <link href="./pages/example/blank/blank.css" rel="stylesheet" type="text/css">
  <yu-tabs v-model="tab"  >
      <yu-tab-pane label="列表" name="first" >
          <yu-xtable ref="yutable" :data="tabledata" @row-click="s1">
              <yu-xtable-column type="selection" label="序号">
              </yu-xtable-column>
              <yu-xtable-column ctype="datepicker" prop="date" label="日期">
              </yu-xtable-column>
              <yu-xtable-column prop="name" label="姓名" >
              </yu-xtable-column>
              <yu-xtable-column prop="age" label="年龄" align="center">
              </yu-xtable-column>
              <yu-xtable-column :options="sexs" ctype="select" prop="sex" label="性别">
              </yu-xtable-column>
      </yu-xtable>
      </yu-tab-pane>
      <yu-tab-pane label="折叠表" name="second" >
        <yu-xdynamic-form ref="dynamicForm" :template-data="templateData"></yu-xdynamic-form>
      </yu-tab-pane>
      <yu-tab-pane label="增删改查" name="third" >
        <div class="blank_template">
          <div style="margin-top: 10px;">
            <yu-xform :inline="true" v-model="form1" label-width="80px">
              <yu-xform-item ctype="input" name="id"  placeholder="客户编号" ></yu-xform-item>
              <yu-button-group align="center">
                  <yu-button icon="search" @click="searchCus">查询</yu-button>
              </yu-button-group>
            </yu-xform>  
          </div>
          <div align="left">
            <yu-button icon="add"  @click="add1">新增</yu-button>
            <yu-button icon="edit"  @click="change1">修改</yu-button>
            <yu-button icon="document" @click="info1">查看</yu-button>
            <yu-button icon="delete" @click="delete1">删除</yu-button>
          </div>
          <yu-xtable :data-url="url" ref="yutable" :data="tabledata" :base-params="base" >
              <yu-xtable-column prop="custName" label="客户姓名">
              </yu-xtable-column>
              <yu-xtable-column prop="custId" label="客户编号" >
              </yu-xtable-column>
              <yu-xtable-column prop="birthday" label="生日"  >
              </yu-xtable-column>
              <yu-xtable-column prop="addr" label="住址" >
              </yu-xtable-column>
             </yu-xtable>
        </div>
      </yu-tab-pane>
    </yu-tabs>
</div>